@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Asimovian&family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
   font-family: "Inter", sans-serif;   
   overflow-x: hidden; 
   
}
.contact-bg {
  position: relative;
  overflow: hidden;
}

.contact-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('/Content.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  filter: blur(5px);
  z-index: 0;
}

.contact-bg > * {
  position: relative;
  z-index: 1; /* keep text above blurred background */
}

.hero-bg {
  position: relative;
  overflow: hidden;
}

.hero-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('/Content.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 50%;
  filter: blur(10px);
  z-index: 0;
}

.hero-bg > * {
  position: relative;
  z-index: 1; /* keep text above blurred background */
}


